.customButton :global(.ant-radio-button-wrapper) {
    padding: 10px !important;
    font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  }