.ticket_wrapper {
    background-color: #fff;
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .149);
    position: relative;
}

.companyLogo {
    position:absolute;
    right: 20px;
    top: 15px;
}

.ticket_price {
    color: #2196f3;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

.ticket_info {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 30px;
}

.ticket_route {
    display: block;
}

.ticket_route_city {
    font-size: 12px;
    color: #a0b0b9;
    letter-spacing: .5px;
    line-height: 18px;
}

.ticket_route_time {
    color: #4a4a4a;
    font-family: inherit;
    font-size: 14px;
    line-height: 21px;
}

.ticket_route_return {
    margin-top: 10px;
}