html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f7fa;
  font-family: 'Open Sans' !important;
}

li,
 ul {
  margin: 0;
  padding: 0;
}

body, 
.ant-typography, 
.ant-btn, 
.ant-checkbox-wrapper, 
.ant-radio-button-wrapper, 
.ant-radio-wrapper, 
.ant-checkbox-group, 
.ant-radio-group {
  font-family: 'Open Sans' !important;
}
